.main-contents{
  display: flex;
  margin-top: calc(80px + 40px);
  width: 100%;
  padding: 0 100px;
}

.articles{
  width: 70%;
  padding: 30px 50px;
}

.article{
  height: 250px;
  width: 100%;
  background: #EEEEEE;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content:space-between; 
}

.article-overview{
  width: 60%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content:space-between;
}

.article-overview a{
  display: block;
  height: 85%;
}

.article-title{
  height: 20%;
  width: 100%;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: solid 2px #040880;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.article-content{
  height: 70%;
  width: 100%;
  padding: 5px;
  overflow: hidden;
  display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.article-information{
  height: 15%;
  width: 100%;
  display: flex;
}

.article-post-date{
  width: 40%;
  padding: 5px;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.article-about-time{
  width: 35%;
  padding: 5px;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.article-check{
  width: 20%;
}

.article-check-button{
  height: 100%;
  width: 100%;
  padding: 5px;
  background: #040880;
  text-align: center;
  font-size: 13px;
  color: white;
  border-radius: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.article-image{
  width: 35%;
}

